.root {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
  min-height: calc(var(--app-viewport-height) - 24px);
  max-height: calc(var(--app-viewport-height) - 24px);
  overflow: hidden;
  box-shadow: var(--shadow-sm);
}
